frontend/.env
frontend/node_modules
frontend/public


bef-landing-page/node_modules
bef-landing-page/.next
bef-landing-page/out
bef-landing-page/.env

../.env
../node_modules


bef-backend/.env
**/migrations/__pycache__/
**/migrations/*.pyc

**/__pycache__/
**/*.pyc
