<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Se o arquivo ou diretório existe, sirva diretamente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Caso contrário, redirecione para index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>

# Configurar tipos MIME corretos
<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
</IfModule>

